@import url('https://fonts.googleapis.com/css?family=Open+Sans|Satisfy');

.logo {
  width: 80px;
}

header h1 {
  color: #c9c983;
  font-family: 'Satisfy', cursive;
}

li a, .jumbotron button {
  border: 1px solid #5c433f;
  color: #5c433f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.nav-pills>li.active>a {
  color: #5c433f;
  background-color: #eeddcd;
}

.jumbotron {
  background-image: url('../img/sup_dog.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
}

.jumbotron h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

.product {
  background-color: #eeddcd;
  margin-right: 10px;
  height: 350px;
  border-radius: 10px;
}

.img-responsive {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button {
  color: #5c433f;
}

/* .featured {
  margin-bottom: 60px;
} */
